@media screen and (min-width:1000px ) {
	.container_set{		
		max-width: 100%;
		padding-top:80px;
	}
	.class{
		max-width: 1000px;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 110px;
	}
	.class .left{
		float: left;
		width:29% ;
		margin-right:4.5% ;		
	}
	.class .left ul {
		border-right:1px solid #bbb;
	}
	.class .left ul li{
		width: 90%;
		border-bottom: 3px solid white;
		height: 55px;		
		padding-top: 25px;
		padding-left:4% ;
	}
	
	.class .left ul li a{
		display: block;
	}
	.class .left ul li a .img{
		width: 24.78%;
		display: block;
	}
	.class .left ul li a .img .img_box{
		margin: 0 auto;
		width: 100%;
	}
	
	.class .left ul li a span{
		display: block;
		width: 65%;
		padding-left: 6.35%;
		font-size: 22px;
		color: #222;
		font-family:"Microsoft YaHei" ;
		padding-top: 6px;
		
	}
	.class .left ul li a .img .img_box img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	.class .left ul li a .img .img_box:nth-of-type(2) img{
		display: none;
	}

	.class .left ul li:hover{
		border-bottom: 3px solid #fa9634;
	}
	.class .left ul li:hover a .img .img_box:nth-of-type(2) img{
		display: block;
	}
	.class .left ul li:hover a .img .img_box:nth-of-type(1) img{
		display: none;
	}
	.class .left ul li a span:nth-of-type(1){
		display: block;	
	}
	.class .left ul li a span:nth-of-type(2) {
		clear: both;
		text-align: center;
		display: none;
		margin: 0 auto;
		padding-left:0;
	}
}
@media screen and (min-width:720px) and (max-width:999px) {
	.container_set{		
		max-width: 100%;		
	}
	.class{
		max-width: 1000px;
		margin: 0 auto;
		padding: 40px 3% 50px 3%;
	}
	.class .left{
		float: left;
		width:29% ;
		margin-right:4.5% ;		
	}
	.class .left ul {
		border-right:1px solid #bbb;
	}
	.class .left ul li{
		width: 90%;
		border-bottom: 3px solid white;
		height: 55px;		
		padding-top: 25px;
		padding-left:4% ;
	}
	
	.class .left ul li a{
		display: block;
	}
	.class .left ul li a .img{
		width: 23.78%;
		display: block;
		margin: 0 auto;
	}
	.class .left ul li a .img .img_box{
		margin: 0 auto;
		width: 100%;
	}
	
	.class .left ul li a span{
		display: block;
		width: 65%;
		padding-left: 6.35%;
		font-size: 2.2em;
		color: #222;
		font-family:"Microsoft YaHei" ;
		padding-top: 10px;
		
	}
	.class .left ul li a .img .img_box img{
		max-width: 100%;
		display: block;
		
	}
	.class .left ul li a .img .img_box:nth-of-type(2) img{
		display: none;
	}
	.class .left ul li a span:nth-of-type(1){
		display: block;	
	}
	.class .left ul li a span:nth-of-type(2) {
		clear: both;
		text-align: center;
		display: none;
		margin: 0 auto;
		padding-left:0;
	}
}
@media screen and (max-width:719px) and (min-width:480px) {
	.container_set{		
		max-width: 100%;
		padding-top: 15px;
	}
	.class{
		max-width: 1000px;
		margin: 0 auto;		
		padding: 0 3% 0 3%;
	}
	.class .left{
		width:100% ;
		clear: both;
		
	}
	.class .left ul{
		margin-bottom: 10px;
		
	}
	.class .left ul li{
		width: 25%;		
		border-bottom: 3px solid white;				
		float: left;
		margin-bottom: 5px;	
		height: 80px;
	}
	.class .left ul li:nth-of-type(2),.class .left ul li:nth-of-type(4){margin-right: 0;}
	.class .left ul li a{
		display: block;
	}
	.class .left ul li a .img .img_box{
		margin: 0 auto;
		width: 100%;
	}
	.class .left ul li:nth-of-type(1) a .img{
		padding-top: 16px;
	}
	.class .left ul li:nth-of-type(2) a .img{
		padding-top: 9px;
	}
	.class .left ul li:nth-of-type(3) a .img{
		padding-top: 17px;
	}
	.class .left ul li:nth-of-type(4) a .img{
		padding-top: 17px;
	}
	.class .left ul li:nth-of-type(2) span:nth-of-type(2){
		padding-top: 0px;
	}
			
	.class .left ul li a span{
		display: block;
		width: 65.86%;		
		font-size: 1.8em;
		color: #222;
		font-family:"Microsoft YaHei" ;
		padding-top: 9px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;	
		clear: both;
	}
	.class .left ul li a .img{	
		clear: both;
		margin: 0 39%;
		display: block;
		width: 100%;
	}
	.class .left ul li a .img .img_box{
		
	}
	.class .left ul li a .img .img_box img{
		max-width: 100%;
		display: block;
		
	}
	.class .left ul li a .img .img_box:nth-of-type(2) img{
		display: none;
	}
	.class .left ul li a span:nth-of-type(1){
		display: block;
		clear: both;	
		width: 100%;
		text-align: center;
		
	}	
	.class .left ul li:nth-of-type(2) span:nth-of-type(1){
		padding-top: 5px;
	}
	.class .left ul li a span:nth-of-type(2) {
		clear: both;
		text-align: center;
		display: none;
		margin: 0 auto;
		padding-left:0;
	}
	
}
@media screen and (max-width:479px){
	.container_set	{	
		max-width: 100%;
		padding-top: 20px;
	}
	.class{
		max-width: 1000px;
		margin: 0 auto;		
		padding: 0 3% 0 3%;
	}
	.class .left{
		width:100% ;
		clear: both;
		
	}
	.class .left ul{
		margin-bottom: 10px;
		
	}
	.class .left ul li{
		width: 25%;
		border-bottom: 3px solid white;
		height: 60px;				
		float: left;
		margin-bottom: 20px;		
	}
	.class .left ul li:nth-of-type(2),.class .left ul li:nth-of-type(4){margin-right: 0;}
	.class .left ul li:nth-of-type(1) .img{
		padding-top: 12px;
		
	}
	.class .left ul li:nth-of-type(2) .img{
		padding-top: 5px;
		
	}
	
	.class .left ul li:nth-of-type(2) span:nth-of-type(2){
		padding-top: 2px;
	}
	.class .left ul li:nth-of-type(4) .img{
		padding-top: 13px;
		
	}
	.class .left ul li:nth-of-type(3) .img{
		padding-top: 14px;
		
	}
	.class .left ul li a{
		display: block;
	}
	.class .left ul li a .img{
		width: 100%;
		display: block;
		
		
	}
	.class .left ul li a .img .img_box{
		margin: 0 auto;
		width: 100%;
	}	
	.class .left ul li a span{
		display: block;
		width: 100%;
		clear: both;
		text-align: center;
		font-size: 1.6em;
		color: #222;
		font-family:"Microsoft YaHei" ;
		padding-top: 4px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;		
	}
	.class .left ul li a .img .img_box img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	.class .left ul li a .img .img_box:nth-of-type(2) img{
		display: none;
	}
	.class .left ul li a span:nth-of-type(1){
		display: none;	
	}
	.class .left ul li a span:nth-of-type(2) {	
		display: block;
		margin: 0 auto;
		padding-left:0;
	}
}