
@media screen and (min-width:100px ) {
	
	.container_mien .mien .left ul li:nth-of-type(6){
		border-bottom: 3px solid #fa9634;
	}
	.container_mien .mien .left ul li:nth-of-type(6) a .img .img_box:nth-of-type(1) img{
		display: none;
	}
	.container_mien .mien .left ul li:nth-of-type(6) a .img .img_box:nth-of-type(2) img{
		display: block;
	}
}

@media screen and (min-width:720px) and (max-width:999px) {
	.container_submien .submien ul li:nth-of-type(6){
		border-bottom: 3px solid #fa9634;
	}
	.container_submien .submien ul li:nth-of-type(6) a .img .img_box:nth-of-type(1) img{
		display: none;
	}
	.container_submien .submien ul li:nth-of-type(6) a .img .img_box:nth-of-type(2) img{
		display: block;
	}
	
	
}
@media screen and (max-width:719px) and (min-width:480px) {
	
	.container_submien .submien ul li:nth-of-type(6) a .img .img_box:nth-of-type(1) img{
		display: none;
	}
	.container_submien .submien ul li:nth-of-type(6) a .img .img_box:nth-of-type(2) img{
		display: block;
	}
	
}
@media screen and (max-width:479px){
	
	.container_submien .submien ul li:nth-of-type(6) a .img .img_box:nth-of-type(1) img{
		display: none;
	}
	.container_submien .submien ul li:nth-of-type(6) a .img .img_box:nth-of-type(2) img{
		display: block;
	}
}
